<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Organizer events</title>
</head>
<body>

<div layout:fragment="content">
  <div class="row">
    <div class="col-md-12">
      <h2>Your events</h2>
      <div class="alert alert-success" role="alert" th:text="${message}" th:if="${success}"></div>
      <div class="alert alert-danger" role="alert" th:text="${message}" th:if="${success == false}"></div><table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Theme</th>
        <th>Language</th>
        <th>Date</th>
        <th>City</th>
        <th>Country</th>
        <th></th>
      </tr>
      </thead>
      <tr th:each="event: ${organizedEvents}">
        <td th:text="${event.getId()}"></td>
        <td th:text="${event.getTheme()}"></td>
        <td th:text="${event.getLanguage()}"></td>
        <td th:text="${event.getDate()}"></td>
        <td th:text="${event.getCity()}"></td>
        <td th:text="${event.getCountry()}"></td>
        <td><a th:href="@{'/organizers/{username}/deleteEvent' (username=${organizerId}, eventId=${event.getId()})}" class="btn btn-danger">Return</a></td>
      </tr>
    </table>
    </div>
  </div>
</div>

</body>
</html>