<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Add participant</title>
</head>
<body>

<div layout:fragment="content">
      <div class="row">
        <div class="col-md-12">
          <h2>Add participant</h2>
          <div class="alert alert-success" th:if="${success}">
            <span th:text="${successMessage}"></span>
          </div>
          <div class="alert alert-danger" th:if="${success == false}">
            <span th:text="${errorMessage}"></span>
          </div>
          <form action="#" th:action="@{/participants/add}" th:object="${participantModel}" method="post">
            <div class="form-floating">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" th:field="*{username}" class="form-control"/><br/>
            </div>
            <div class="form-floating">
              <label>Real Name</label>
              <input type="text" name="realName" th:field="*{realName}" required class="form-control"/><br/>
            </div>
            <div class="form-floating">
              <label>City</label>
              <input type="text" name="city" th:field="*{city}" required class="form-control"/><br/>
            </div>
            <div class="form-floating">
              <label>Country</label>
              <input type="text" name="country" th:field="*{country}" required class="form-control"/><br/>
            </div>
            <input type="submit" class="btn btn-primary" value="Add Participant"/>
          </form>
        </div>
      </div>
</div>

</body>
</html>
